*{
    margin:0px;
    padding:0px;
    box-sizing: border-box
}
.container{
    display: flex;
    flex-wrap:wrap;
    gap: 50px;
    justify-content: center;
    background-color: blanchedalmond;
   
    
}
.card >.container>div{
   height:400px;
   width:300px;
   color: white;
   background-color: rgb(11, 11, 53);
   margin:0px 30px 30px 0px;
   display: flex;
   flex-direction:column;
   flex-wrap:wrap;
   align-items: center;
   gap:10px;
   border-radius:15px;

}   
.card>.container>div>img{
    height:300px;
    width: 300px;
    border-radius:15px 15px 0px 0px;
}
.price{
    text-size:60px;
    color: yellow;
}
/*Mouse hover*/
.card>.container>div:hover{
    box-shadow: 10px 10px 20px black;
    transform: translateY(10px);
}