*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header{
    background-color: lightblue;
}
.container{
    display: flex;
    justify-content:center;
    
}
.navbar{
    width:80%;
    display:flex;
    align-items: center;
    justify-content: space-between;
     
}
.container>.navbar>.logo{
    display: flex;
    gap:10px;
    align-items: center;
    
}
.container>.navbar>.logo >img{
    width: 50px;
    height: 50px;
   
    text-decoration: none;
    
}
.container>.navbar>nav{
    display: flex;
    gap: 40px;
    
}
.container>.navbar>nav>a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 300;
}
/* hover */
.container>.navbar>nav>a:hover{
    color:white;
    font-weight: 500px;
    transition:all 0.5s;
}


@media (max-width: 768px) {
  .navbar{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-bottom: 10px;
  }
  .container>.navbar>nav{
    display: flex;
    flex-direction:column;
    
  }
  .container>.navbar>nav>a:hover{
        color: rgb(21, 21, 80);
        text-decoration:underline;
        font-weight: bolder;
        font-size: medium;
        
  }
  .container>.navbar>nav
}
